<body>
    <button onclick="window.location.reload()">Play Battleships!</button>
    <div id="terminal"></div>
    <!--Footer-->
    <footer>
        <ul class="socials">
            <li>
                <a href="https://www.instagram.com/danpearcedev/" target="_blank" rel="noopener" aria-label="Visit the developer's Instagram page(Opens in a new tab)"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/danielapearce/" target="_blank" rel="noopener" aria-label="Visit the developer's Linkedin page(Opens in a new tab)"><i class="fa-brands fa-linkedin-in"></i></a>
            </li>
            <li>
                <a href="https://github.com/DanPearce/CI_PP3_Battleships" target="_blank" rel="noopener" aria-label="View the code on the developer's GitHub page(Opens in a new tab)"><i class="fa-brands fa-github"></i></a>
            </li>
        </ul>
        <p class="footerSignature">COPYRIGHT &copy; DAN PEARCE 2022</p>
        <p class="footerSignature">Game Developed by Dan Pearce<br><a href="https://danpearce.software/" target="_blank" rel="noopener" aria-label="Visit the website designer's page, Dan Pearce (opens in a new tab)">danpearce.software</a></p>
    </footer>
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/3f4aafba5f.js" crossorigin="anonymous"></script>

    <script>
        var term = new Terminal({
            cols: 120,
            rows: 35
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>